<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<%-include('links')%>
    <title>Document</title>
</head>
<body>
   <%-include("header")%>
   
    <div class="index">
        <div class="mainNews">
            <%if(docs.main.length>0){%>
                <a href="/news/<%-docs.main[0]._id%>" class="big newsItem">
                    <img src="<%-docs.main[0].image%>" alt="">
                    <div class="title"><%-docs.main[0].title%></div>
                    <div class="content"><%-docs.main[0].content%></div>
                </a>
            <%}%>
            <%if(docs.main.length>1){%>
                <a class="medium newsItem" href="/news/<%-docs.main[1]._id%>" >
                    <img src="<%-docs.main[1].image%>" alt="">
                    <div class="title"><%-docs.main[1].title%></div>
                    <div class="content"><%-docs.main[1].content%></div>
                </a>
            <%}%>
            <%if(docs.main.length>2){%>
                <a class="little newsItem" href="/news/<%-docs.main[2]._id%>" >
                    <img src="<%-docs.main[2].image%>">
                </a>
            <%}%>
            <%if(docs.main.length>3){%>
                <a class="little newsItem" href="/news/<%-docs.main[3]._id%>" >
                    <img src="<%-docs.main[3].image%>" alt="">
                </a>
            <%}%>
            <%if(docs.main.length>4){%>
                <a class="little newsItem" href="/news/<%-docs.main[4]._id%>" >
                    <img src="<%-docs.main[4].image%>" alt="">
                </a>
            <%}%>
            <%if(docs.main.length>5){%>
                <a class="little newsItem" href="/news/<%-docs.main[5]._id%>" >
                    <img src="<%-docs.main[5].image%>" alt="">
                </a>
            <%}%>
        </div>
        <div class="reclamWrapper">
            Здесь могла бы разместиться ваша реклама
        </div>

        <div class="allNewsWrapper">
            <div class="allNews">
                <%for(item of docs.other){%>
                    <div class="item">
                        <div class="image">
                            <img src="<%-item.image%>" alt="">
                        </div>
                        <div class="wrapper">
                            <a href="/news/<%-item._id%>" class="title"><%-item.title%></a>
                            <div class="date"><%-item.date%></div>
                            <div class="content">
                                    <%-item.content%>
                            </div>
                        </div>
                    </div>
                <%}%>       
                <div class="btnShowAll">Show All</div>
            </div>
            <div class="leftPanel">
                <iframe src="https://tpc.googlesyndication.com/safeframe/1-0-29/html/container.html" frameborder="0"></iframe>
            </div>
        </div>
    </div>
  <%-include("footer")%>
    <img class="uparrow" src="img/uparrow.png">
</body>
</html>

