<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%-include('links')%>
    <title><%-result.title%></title>
</head>

<body>

    <%-include('header')%>
    <div class="news">
        
        <div class="image"><img src="<%-result.image%>" alt=""></div>
        <div class="title"><%-result.title%></div>
        <div class="content"><%-result.content%></div>

    </div>

    <%-include('footer')%>
</body>
</html>

