<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil</title>
</head>
<body>
    <%-include('links')%>
    <%-include('header')%>
    <div class="profil">
        <div class="info">
            <div class="avatar"><img src="/img/plus.png" alt=""></div>
            <div class="date"><span>Вы с нами с : </span>05.11.2018</div> 
        </div>

        <div class="userInfo">
          <div class="item"><span> You login:</span><%-profil.user.login%> <span class="edit"><img src="/img/edit.png">Edit</span> </div>
          <div class="item"><span>You email: </span><%-profil.user.email%> <span class="edit"><img src="/img/edit.png">Edit</span>  </div>
           <div class="item">Изменить пароль</div>
        </div>

    </div>
    <%-include('footer')%>
</body>
</html>