<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil</title>
</head>
<body>
    <%-include('links')%>
    <%-include('header')%>
    <div class="profil">
        <div class="info">
            <div class="avatar"><img src="/img/plus.png" alt=""></div>
            <span class="tag">You login is: <b style="color:rgba(0,0,0,.4)"><%-profil.user.login%></b></span>
            <span class="tag">You Email is: <b style="color:rgba(0,0,0,.4)"><%-profil.user.email%></b></span>
        </div>
        <div class="userInfo">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio nulla, incidunt impedit neque, ea exercitationem eum quis quasi eligendi accusantium animi. Doloremque error voluptate ducimus praesentium nesciunt molestias explicabo aspernatur?
            Esse, aspernatur, accusamus quam aut atque qui at necessitatibus blanditiis aperiam, sed adipisci quis repellat eum tempore! At, voluptatem laboriosam aliquid repellat, debitis nostrum inventore perferendis, recusandae ratione reprehenderit quae.
            Ex non iusto architecto omnis facilis, quos sed vel beatae natus minus soluta itaque eaque obcaecati tempora ducimus et laborum sit ut incidunt recusandae eveniet, dolorum ea cum! Nemo, fugiat.
            Impedit perferendis voluptate aut id, natus, dolor ea necessitatibus error nam voluptatibus nesciunt dolorem beatae assumenda ab! Modi non est recusandae molestiae rem alias, architecto dolores magni facilis assumenda! Itaque!
            Quam optio voluptatum, at ex quaerat minima. Labore dolore quibusdam eaque earum aliquam sit, porro aliquid? Officiis ut, harum, incidunt minus praesentium debitis molestiae molestias non ipsam, enim beatae quam.
            Eum perspiciatis, deserunt iusto non numquam dignissimos eos ipsum veritatis nam, voluptate ducimus laborum sapiente eius quia voluptatem quaerat maiores, veniam doloremque sint labore. Animi pariatur obcaecati sequi sint accusamus.
            Possimus neque quam quisquam veritatis porro qui architecto sapiente illum exercitationem, perspiciatis repellendus in vero at tenetur ad pariatur cum similique animi fuga quos unde a tempore aspernatur! Non, ullam?
            Dolorem, quaerat eos molestias et, obcaecati in aspernatur consectetur eum quibusdam aut nihil rem necessitatibus laboriosam a corporis earum reprehenderit neque, alias possimus sequi voluptatum. Error deserunt asperiores accusantium similique.
        </div>

    </div>
    <%-include('footer')%>
</body>
</html>